name: Keep Render App Awake

on:
  schedule:
    - cron: '*/10 * * * *' # every 5 minutes
  workflow_dispatch: # allows manual runs

jobs:
  ping:
    runs-on: ubuntu-latest

    steps:
      - name: Ping Render service
        run: |
          curl -s -o /dev/null -w "%{http_code}\n" https://smart-pos-q77a.onrender.com/health
